@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto";
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    background: #e0f7ff;
}

body::-webkit-scrollbar-thumb {
    background: #38bdf8;
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #0ea5e9;
}